{
    "printWidth": 120,
    "tabWidth": 4,
    "overrides": [
        {
            "files": "*.sol",
            "options": {
                "useTabs": false,
                "singleQuote": true,
                "bracketSpacing": false,
                "explicitTypes": "always",
                "trailingComma": "none"
            }
        },
        {
            "files": "*.MD",
            "options": {
                "proseWrap": "always"
            }
        },
        {
            "files": ["*.yml", "*.yaml"],
            "options": {
                "useTabs": false,
                "tabWidth": 2
            }
        }
    ]
}
